<div class="pagetitle">
    <h3><%= title %></h3>
    <div>
       
        <img src="/logo.jpg" alt="photo"  width="200">
    </div>
    <div class="col-md-6">
        <div>
            <p>Hello! My name is Keying Song. I am a software engineering student in Centebbuwith experience in JavaScript, CSS, HTML, C#, and SQL.
             Continuous learner with a strong interest in web development. 
             Excellent problem solver with great analytical abilities.</p>
        </div>
        
    </div>
</div>