<div class="pagetitle">
    <h2><%= title %></h2>
    <form  onsubmit="return false;">
        <div class="row mb-1">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="inputEmail3">
            </div>
          </div>
          <div class="row mb-1">
            <label class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="inputPassword3">
            </div>
          </div>
          <div class="row mb-1">
              <label  id="email" class="col-sm-2 col-form-label" require="required">Email</label>
             
              <div class="col-sm-12">
                <input type="text" class="form-control" id="inputPassword3">
              </div>
          </div>
          <div class="row mb-1">
               
               <textarea class="col-sm-12 form-control"  cols="30" rows="10" placeholder="please leave your message here" ></textarea>
          
           </div> 
           <div>
               <button class="btn btn-primary" type="submit" id="submit">Submit</button> 
               <button class="btn btn-primary" type="reset" id="reset">Reset</button>  
           </div> 

    </form>

       
      

</div>
