<div id="banner">
    <div id="greeting">
        <span id="welcome">Hi, I am Keying</span><br>
        <span id="introduction">&nbsp &nbsp &nbsp a programmer</span>
    </div>
    <div id="greeting2">welcome to my portfolio!</div>
    <h1 class="animate__animated animate__bounce">An animated element</h1>
</div>