<div id="banner">
    <div id="greeting">
        <span id="welcome">Hi, I am Keying</span><br>
        <span id="introduction">&nbsp &nbsp &nbsp a programmer</span>
    </div>
    <div id="greeting2" class="animate__animated animate__bounce">welcome to my portfolio!</div>
    
</div>