<div id="banner">
    <p></p>
    p
    <div id="greeting">
        <span id="welcome">Hi, I am Keying</span><br>
        <span id="introduction"> a programmer</span>
        <div id="greeting2" class="animate__animated animate__tada">welcome to my portfolio!</div>
    </div>
    
    
</div>