<div class="pagetitle">
   <div class="titlemark"><h><%= title %></h></div> 
    
   <div class="col-md-8" >
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">Project 1</strong>
        <h3 class="mb-0">Expense Tracker</h3>
        <div class="mb-1 text-muted">WPF, C#, XML, Linq quiries, List, Queue</div>

        <div><b>Functionality:</b></div>
        <ul >
            <li>Add users Account and enter account.</li>
            <li >Create, Update, and delete expense/income records.</li>
            <li>Calculate the current account balance.</li>
            <li>Search for records by value, type or keywords </li>
            <li>Sorting</li>
        </ul>
        
        <a href="https://github.com/keying-song/expense-tracker-app" class="stretched-link">Code</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img src="/project1.gif" width="300" height="320" alt="">
    </div>    
      </div>    
    </div>
</div>


<div class="pagetitle">
    <div class="col-md-8">
     <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
       <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-primary">Project 2</strong>
         <h3 class="mb-0">Real Estate Agent Website</h3>
         <div class="mb-1 text-muted">HTML, CSS, JavaScript, Google Maps API</div>
 
         <div><b>Functionality:</b></div>
         <ul >
             <li>Home: self-introduction, customer reviews, introduction vedio.</li>
             <li >Listings:display available property list. </li>
             <li>Property Detail Page:provide detailed information about the property. </li>
             <li>Contact: Contact the agent by submitting the online form. </li>
             <li>Site map</li>
         </ul>
         
         <a href="http://studentweb.cencol.ca/ksong15/project.html" class="stretched-link">Website Link</a>
       </div>
       <div class="col-auto d-none d-lg-block">
         <img src="/project2.png" width="300" height="390" alt="project photo">
     </div>    
       </div>    
     </div>
 </div>


 <div class="pagetitle">
    <div class="col-md-8">
     <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
       <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-primary">Project 3</strong>
         <h3 class="mb-0">Weather Application </h3>
         <div class="mb-1 text-muted">Ajax, JavaScript, Open Weather Map API, Geolocation</div>
         
         <div><b>Functionality:</b></div>
         <ul >
             <li>get the weather information such as temperature, pressure, humidity, wind, visibility by inputting the location.</li>
             <li >get the geographical position of a user and display the related weather information. </li>
            
         </ul>


         <a href="http://studentweb.cencol.ca/ksong15/weather/assignment6.html" class="stretched-link">Website Link</a>
       </div>
       <div class="col-auto d-none d-lg-block">
        <img src="/project3.gif" width="300" height="320" alt="project photo">
       </div>    
     </div>
 </div>