<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="./Content/app.css">
</head>
<body>
    <header>
        <%- include('components/header.ejs'); %>
    </header>
    <main>
       
    </main>
    <footer>
      <nav class="navbar fixed-bottom navbar-" style="background-color: #90a5bd">
        <div class="container-fluid">
          <h5>&copy Copyright 2022 by Keying Song. All Rights Reserved.</h5>
        </div>
      </nav>
    </footer>
   <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="./@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="./Scripts/app.js"></script>
</body>
</html>