<nav class="navbar fixed-bottom" style="background-color: #cfb09c;" >
    <div class="container-fluid"> 
      <h12 id="footer">&copy Copyright 2022 by Keying Song. All Rights Reserved.</h12>
    </div>
  </nav>