<nav class="navbar fixed-bottom navbar-dark" style="background-color: #90a5bd">
    <div class="container-fluid">
      <h5>&copy Copyright 2022 by Keying Song. All Rights Reserved.</h5>
    </div>
  </nav>