<nav class="navbar fixed-bottom" style="background-color: #cf;" >
    <div class="container-fluid"> 
      <h5 id="footer">&copy Copyright 2022 by Keying Song. All Rights Reserved.</h5>
    </div>
  </nav>