<nav class="navbar fixed-bottom" style="background-color: #96acc3;" >
    <div class="container-fluid"> 
      <h8 id="footer">&copy Copyright 2022 by Keying Song. All Rights Reserved.</h8>
      <span id="footicon">
            <span><a><i class="fa-brands fa-github fa-lg"></i>GitHub
            </a></span>
            <span><i class="fa-brands fa-linkedin fa-lg"></i>Linkedin</span>
            <span><i class="fa-solid fa-envelope fa-lg"></i>Email</span>
      </span>
      
      
    </div>
    
  </nav>