<nav class="navbar fixed-bottom" style="background-color: #96acc3;" >
    <div class="container-fluid"> 
      <h8 id="footer">&copy Copyright 2022 by Keying Song. All Rights Reserved.</h8>
      <span id="footicon">
            <span><a href="https://github.com/keying-song?tab=repositories"><i class="fa-brands fa-github fa-lg"></i>GitHub</a></span>
            <span><a href="https://www.linkedin.com/in/keying-song-092250217/"><i class="fa-brands fa-linkedin fa-lg"></i>Linkedin</a></span>
            <span><a href="https://www.linkedin.com/in/keying-song-092250217/"><i class="fa-solid fa-envelope fa-lg"></i>Email</a></span>
      </span>
      
      
    </div>
    
  </nav>