<nav class="navbar fixed-bottom" style="background-color: #96acc3;" >
    <div class="container-fluid"> 
      <h8 id="footer">&copy Copyright 2022 by Keying Song. All Rights Reserved.</h8>
      <span></span>
      <span><i class="fa-brands fa-github"></i>GitHub</span>
      <span><i class="fa-brands fa-linkedin"></i>Linkedin</span>
      <span><i class="fa-solid fa-circle-envelope"></i>Email</span>
      
    </div>
    
  </nav>